<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.PrescriptionMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.Prescription">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="composition" column="composition" jdbcType="VARCHAR"/>
            <result property="efficacy" column="efficacy" jdbcType="VARCHAR"/>
            <result property="therapy" column="therapy" jdbcType="VARCHAR"/>
            <result property="dosage" column="dosage" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,source,
        composition,efficacy,therapy,
        dosage,createTime,updateTime,
        isDelete
    </sql>
</mapper>
